<%- include('../fragments/header.ejs') %>

<link rel="stylesheet" href="/css/style2.css" />
    <main>
        <h2>Galeria zdjęć</h2>

       <body1>
        <figure class="gallery-image"><img src="../images/paczek1.jpg" alt="Pierwsza miniaturka"> <figcaption> Pączek z cukrem pudrem</figcaption></figure>

        <figure class="gallery-image" href="../images/paczek2.jpg"><img src="../images/paczek2.jpg" alt="Druga miniaturka"><figcaption> Pączek z lukrem</figcaption></figure>
        <figure class="gallery-image" href="../images/paczek1.jpg"><img src="../images/paczek1.jpg" alt="Trzecia miniaturka"><figcaption> Pączek z cukrem pudrem</figcaption></figure>
        <figure class="gallery-image" href="../images/paczek2.jpg"><img src="../images/paczek2.jpg" alt="Czwarta miniaturka"><figcaption> Pączek z lukrem</figcaption></figure>
        <figure class="gallery-image" href="../images/paczek1.jpg"><img src="../images/paczek1.jpg" alt="Piąta miniaturka"><figcaption> Pączek z cukrem pudrem</figcaption></figure>
        <!-- <figure class="gallery-image" href="../images/paczek2.jpg"><img src="../images/paczek2.jpg" alt="Szósta miniaturka"><figcaption> Pączek z lukrem</figcaption></figure>
        <figure class="gallery-image" href="../images/paczek1.jpg"><img src="../images/paczek1.jpg" alt="Siódma miniaturka"><figcaption> Pączek z cukrem pudrem</figcaption></figure>
        <figure class="gallery-image" href="../images/paczek2.jpg"><img src="../images/paczek2.jpg" alt="Ósma miniaturka"><figcaption> Pączek z lukrem</figcaption></afigure> -->
        </body1>
    </main>
    <%- include('../fragments/footer.ejs') %>