<%- include('../fragments/header.ejs') %>
    <main>
        <h2>Szczegóły wyrobu</h2>

        <form class="form">


            <label for="NazwaWyrobu">Nazwa:</label>
            <input type="text" name="NazwaWyrobu" value="Pączek" id="NazwaWyrobu" disabled />
            <div></div>

            <label for="Cena">Cena za sztukę:</label>
            <input type="text" name="Cena" value="1.00" id="Cena" disabled />
            <div></div>

            
                <a href="" class="list-actions-button-edit">Edytuj</a>
                <a href="wyrob-lista.html" class="list-actions-button-details">Powrót</a>
            

        </form>






    </main>

    <%- include('../fragments/footer.ejs') %>